<div class="container m-1 d-flex">
<div class="card col-4 m-3">
<h1><%=@restaurant.name %></h1>
<h3><%=@restaurant.address %></h3>
<h3><%=@restaurant.phone_number %></h3>
<h3><%=@restaurant.category %></h3>
</div>
<div class="card col-4 m-3">
<% @restaurant.reviews.each do |review| %>
<div class="card m-1">
<p>Rating: <%= review.rating %>/5</p>
<p>Comment: <%= review.content %></p>
</div>
<% end  %>
</div>
</div>
<div class=" ms-4 d-flex gap-2">
<%= link_to "Back to list", restaurants_path, class: "btn btn-dark" %>
<%# <%= link_to "Leave review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
</div>
<div class="form m-3">
<h1>Add review for <%=@restaurant.name %></h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, collection: [1, 2, 3, 4, 5]  %>
  <%= f.input :content %>
  <%= f.button :submit, "Add review", class:"btn btn-primary" %>
<% end %>
</div>
